.rectangle1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  width: 1440px;
  height: 72px;
}
.whole-icon1 {
  position: absolute;
  top: 24px;
  left: 72px;
  width: 162.6px;
  height: 24px;
  overflow: hidden;
}
.rectangle2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 21px;
  background-color: #f2f2f2;
  width: 360px;
  height: 42px;
}
.group-child18 {
  position: absolute;
  top: 10px;
  left: 14px;
  width: 22px;
  height: 22px;
}
.search-for-your1 {
  position: absolute;
  top: 12px;
  left: 50px;
  font-weight: 500;
}
.rectangle-parent10 {
  position: absolute;
  top: 16px;
  left: 540px;
  width: 360px;
  height: 42px;
}
.create-account1 {
  font-weight: 500;
}
.its-free1 {
  color: #2f6ce5;
}
.create-account-its-container1 {
  position: absolute;
  top: 27px;
  left: 1161px;
  font-size: 16px;
  text-align: right;
  color: #2e2e2e;
}
.baseline-arrow-drop-down-24px-icon2 {
  position: absolute;
  top: 26px;
  left: 1344px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangle-parent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 72px;
  color: #5c5c5c;
}
.line2 {
  position: absolute;
  top: 139.5px;
  left: 199.5px;
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 1041px;
  height: 1px;
}
.group-child19 {
  position: absolute;
  top: 0;
  left: 137px;
  width: 36px;
  height: 36px;
}
.group-child20 {
  border-radius: 4px;
  background-color: #edeef0;
}
.group-child20,
.group-container,
.rectangle-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 133px;
  height: 36px;
}
.group-container {
  top: 92px;
  left: 1067px;
  width: 173px;
  font-size: 15px;
}
.line-div,
.line3 {
  position: absolute;
  box-sizing: border-box;
  height: 1px;
}
.line3 {
  top: 83.5px;
  left: 71.5px;
  border-top: 1px solid #e0e0e0;
  width: 1297px;
  opacity: 0;
}
.line-div {
  top: 139.5px;
  left: 199.5px;
  border-top: 1px solid #000;
  width: 94px;
}
.all-posts321 {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
}
.article2 {
  position: absolute;
  top: 0;
  left: 113px;
}
.education2,
.event1,
.job2 {
  position: absolute;
  top: 0;
  left: 180px;
}
.education2,
.job2 {
  left: 239px;
}
.job2 {
  left: 331px;
}
.all-posts32-group {
  position: absolute;
  top: 99px;
  left: 200px;
  width: 358px;
  height: 21px;
  font-size: 16px;
  color: #8a8a8a;
}
.group-child21 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 694px;
  height: 474px;
}
.baseline-more-vert-24px-icon3 {
  position: absolute;
  top: 276px;
  left: 644px;
  width: 28px;
  height: 28px;
  overflow: hidden;
  object-fit: contain;
}
.article3,
.what-if-famous1 {
  position: absolute;
  top: 240px;
  left: 20px;
  font-weight: 500;
}
.what-if-famous1 {
  top: 275px;
  font-size: 22px;
  line-height: 134.17%;
  font-weight: 600;
  display: inline-block;
  width: 600px;
}
.group-child22 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px 4px 0 0;
  width: 692px;
  height: 220px;
  object-fit: cover;
}
.ive-worked-in2 {
  position: absolute;
  top: 347px;
  left: 20px;
  font-size: 19px;
  line-height: 134.17%;
  color: #5c5c5c;
  display: inline-block;
  width: 652px;
}
.iconactionvisibility-24px4 {
  position: absolute;
  top: 419px;
  left: 577px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.k-views4 {
  position: absolute;
  top: 419px;
  left: 603px;
  font-size: 14px;
  font-weight: 500;
  color: #525252;
  text-align: right;
}
.group-child23 {
  position: absolute;
  top: 404px;
  left: 20px;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.sarthak-kamra1 {
  position: absolute;
  top: 416px;
  left: 78px;
  font-weight: 600;
}
.rectangle-parent12 {
  position: absolute;
  top: 168px;
  left: 200px;
  width: 692px;
  height: 472px;
  font-size: 18px;
}
.tax-benefits-for1 {
  position: absolute;
  top: 275px;
  left: 20px;
  font-size: 22px;
  line-height: 134.55%;
  font-weight: 600;
  display: inline-block;
  width: 600px;
}
.rectangle-parent13 {
  position: absolute;
  top: 656px;
  left: 200px;
  width: 692px;
  height: 472px;
  font-size: 18px;
}
.group-child27 {
  position: absolute;
  top: -0.4px;
  left: -0.4px;
  border-radius: 4px;
  background-color: #fff;
  border: 0.4px solid #525252;
  box-sizing: border-box;
  width: 177.8px;
  height: 35.8px;
}
.outline-my-location-24px-icon {
  position: absolute;
  top: 7px;
  left: 6px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  opacity: 0.7;
}
.use-current-location {
  position: absolute;
  top: 9px;
  left: 35px;
  opacity: 0.7;
}
.rectangle-parent14 {
  position: absolute;
  top: 42px;
  left: 0;
  width: 177px;
  height: 35px;
}
.or {
  position: absolute;
  top: 101px;
  left: 0;
  font-size: 13px;
  font-weight: 500;
  text-align: right;
}
.group-child28 {
  position: absolute;
  top: 29.8px;
  left: -0.2px;
  border-top: 0.4px solid #b8b8b8;
  box-sizing: border-box;
  width: 240.4px;
  height: 0.4px;
}
.enter-location-manually {
  position: absolute;
  top: 1px;
  left: 0;
  opacity: 0.6;
}
.outline-search-24px-icon {
  position: absolute;
  top: 0;
  left: 220px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  opacity: 0.3;
}
.line-parent {
  position: absolute;
  top: 142px;
  left: 0;
  width: 240px;
  height: 30px;
}
.location {
  position: absolute;
  top: 0;
  left: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.location-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 99px;
  height: 18px;
}
.your-location-will1 {
  position: absolute;
  top: 0;
  left: 23px;
  display: inline-block;
  width: 220px;
  opacity: 0.5;
}
.baseline-error-outline-24px-icon1 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
  opacity: 0.5;
}
.your-location-will-help-us-ser-group {
  position: absolute;
  top: 204px;
  left: 0;
  width: 243px;
  height: 32px;
  font-size: 12px;
}
.group-parent1 {
  position: absolute;
  top: 196px;
  left: 984px;
  width: 243px;
  height: 236px;
}
.outline-group-24px-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.connect-parent,
.group-child29 {
  position: absolute;
  top: 499px;
  left: 984px;
  width: 94px;
  height: 18px;
}
.group-child29 {
  top: 0;
  left: 0;
  border-radius: 21px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.sarthak-kamra2 {
  position: absolute;
  top: 9px;
  left: 48px;
  display: inline-block;
  width: 104px;
}
.group-child30 {
  position: absolute;
  top: 6px;
  left: 179px;
  border-radius: 14px;
  background-color: #edeef0;
  width: 61px;
  height: 24px;
}
.connect1 {
  position: absolute;
  top: 10px;
  left: 187px;
  font-size: 12px;
  text-align: center;
}
.rectangle-parent15 {
  position: absolute;
  top: 541px;
  left: 984px;
  width: 240px;
  height: 36px;
}
.connect2 {
  position: absolute;
  top: 10px;
  left: 187px;
}
.rectangle-parent16 {
  position: absolute;
  top: 599px;
  left: 984px;
  width: 240px;
  height: 36px;
  text-align: center;
  font-size: 12px;
}
.group-child33 {
  position: absolute;
  top: 6px;
  left: 165px;
  border-radius: 14px;
  background-color: #000;
  width: 75px;
  height: 24px;
}
.connected,
.joy-lawson {
  position: absolute;
  top: 10px;
  left: 173px;
}
.joy-lawson {
  top: 9px;
  left: 48px;
  font-size: 14px;
  color: #000;
  text-align: left;
  display: inline-block;
  width: 104px;
}
.rectangle-parent17 {
  position: absolute;
  top: 657px;
  left: 984px;
  width: 240px;
  height: 36px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.john-doe {
  position: absolute;
  top: 9px;
  left: 48px;
  font-size: 14px;
  text-align: left;
  display: inline-block;
  width: 104px;
}
.rectangle-parent18,
.rectangle-parent19 {
  position: absolute;
  top: 715px;
  left: 984px;
  width: 240px;
  height: 36px;
  text-align: center;
  font-size: 12px;
}
.rectangle-parent19 {
  top: 773px;
}
.see-more {
  position: absolute;
  top: 857px;
  left: 1124px;
  color: #2f6ce5;
}
.group-child39 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #fff;
  border: 0.8px solid #b6b6b8;
  box-sizing: border-box;
  width: 134px;
  height: 36px;
}
.leave-group {
  position: absolute;
  top: 8px;
  left: 38px;
  font-weight: 500;
}
.outline-exit-to-app-24px-icon {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.rectangle-parent20 {
  position: absolute;
  top: 92px;
  left: 917px;
  width: 134px;
  height: 36px;
  font-size: 15px;
  color: #88898a;
}
.subtract-icon {
  position: relative;
  width: 13.6px;
  height: 18px;
}
.group-parent {
  width: 1440px;
  height: 1128px;
}
.group-parent,
.rectangle3,
.rectangle4 {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle3 {
  background-color: #000;
  width: 1440px;
  height: 1024px;
  opacity: 0.6;
}
.rectangle4 {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  width: 736px;
  height: 513px;
}
.group-child40 {
  position: absolute;
  top: 129px;
  left: 380px;
  width: 320px;
  height: 320px;
  object-fit: cover;
}
.by-signing-up {
  position: absolute;
  top: 461px;
  left: 383px;
  font-size: 11px;
  letter-spacing: -0.01em;
  line-height: 16px;
  display: inline-block;
  width: 317px;
  opacity: 0.6;
}
.group-child41 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px 8px 0 0;
  background-color: #effff4;
  width: 736px;
  height: 50px;
}
.lets-learn-share {
  position: absolute;
  top: 17px;
  left: 59px;
  line-height: 16px;
  font-weight: 500;
  color: #008a45;
  text-align: center;
}
.sign-in {
  font-weight: 600;
  color: #2f6ce5;
}
.already-have-an-container {
  position: absolute;
  top: 81px;
  left: 505px;
  font-size: 13px;
  color: #3d3d3d;
}
.create-account2 {
  font-size: 24px;
}
.create-account2,
.group-child42,
.search-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child42 {
  border-radius: 2px;
  background-color: #fff;
  border: 0.6px solid #d9d9db;
  box-sizing: border-box;
  width: 320px;
  height: 38px;
}
.search-icon {
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.sign-up-with {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 16px;
}
.group4 {
  position: absolute;
  top: 11px;
  left: 85px;
  width: 151px;
  height: 16px;
}
.rectangle-parent22 {
  position: absolute;
  top: 365px;
  left: 0;
  width: 320px;
  height: 38px;
}
.f-logo-rgb-blue-1024-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.sign-up-with-facebook-parent {
  position: absolute;
  top: 11px;
  left: 77px;
  width: 167px;
  height: 16px;
}
.group-child44,
.rectangle-parent23 {
  position: absolute;
  top: 319px;
  left: 0;
  width: 320px;
  height: 38px;
}
.group-child44 {
  top: 0;
  border-radius: 20px;
  background-color: #2f6ce5;
  height: 40px;
}
.create-account3 {
  position: absolute;
  top: 12px;
  left: 110px;
  line-height: 16px;
  font-weight: 600;
}
.group-child45,
.rectangle-parent24 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 320px;
  height: 40px;
}
.group-child45 {
  top: 0;
  background-color: #f7f8fa;
  border: 1px solid #d8dadb;
  box-sizing: border-box;
  height: 46px;
}
.email {
  position: absolute;
  top: 15px;
  left: 12px;
  line-height: 16px;
  font-weight: 500;
}
.group-child46,
.rectangle-parent25 {
  position: absolute;
  top: 45px;
  left: 0;
  width: 320px;
  height: 46px;
}
.group-child46 {
  top: 0;
  border-radius: 0 0 2px 2px;
  background-color: #f7f8fa;
  border: 1px solid #d8dadb;
  box-sizing: border-box;
}
.group-child47,
.rectangle-parent26 {
  position: absolute;
  top: 135px;
  left: 0;
  width: 320px;
  height: 46px;
}
.group-child47 {
  top: 0;
  border-radius: 2px 2px 0 0;
  background-color: #f7f8fa;
  border: 1px solid #d8dadb;
  box-sizing: border-box;
}
.last-name {
  position: absolute;
  top: 15px;
  left: 172px;
  line-height: 16px;
  font-weight: 500;
}
.line4 {
  position: absolute;
  top: -0.5px;
  left: 159.5px;
  border-right: 1px solid #d9d9db;
  box-sizing: border-box;
  width: 1px;
  height: 46px;
}
.group-child49,
.rectangle-parent27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 46px;
}
.group-child49 {
  top: 14px;
  left: 284px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.rectangle-parent28 {
  top: 90px;
  height: 46px;
}
.group-parent3,
.group-parent4,
.rectangle-parent28 {
  position: absolute;
  left: 0;
  width: 320px;
}
.group-parent4 {
  top: 0;
  height: 181px;
  text-align: left;
  font-size: 15px;
  color: #8a8a8a;
}
.group-parent3 {
  top: 55px;
  height: 240px;
  text-align: center;
  color: #fff;
}
.create-account-parent {
  position: absolute;
  top: 74px;
  left: 36px;
  width: 320px;
  height: 403px;
  text-align: left;
}
.group-child50,
.rectangle-parent21 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 736px;
  height: 513px;
}
.group-child50 {
  top: 0;
  left: 722px;
  width: 28px;
  height: 28px;
  opacity: 0.8;
}
.group-parent2 {
  position: absolute;
  top: 146px;
  left: 352px;
  width: 750px;
  height: 553px;
  text-align: right;
}
.desktop-join-group {
  width: 1440px;
  background-color: #fff;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-family: "IBM Plex Sans";
}
