.rectangle9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  width: 736px;
  height: 457px;
}
.forgot-password {
  position: absolute;
  top: 410px;
  left: 35px;
  font-size: 12px;
  letter-spacing: -0.01em;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  width: 317px;
}
.group-child75 {
  position: absolute;
  top: 129px;
  left: 380px;
  width: 320px;
  height: 320px;
  object-fit: cover;
}
.group-child76 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px 8px 0 0;
  background-color: #effff4;
  width: 736px;
  height: 50px;
}
.lets-learn-share1 {
  position: absolute;
  top: 17px;
  left: 59px;
  line-height: 16px;
  font-weight: 500;
  color: #008a45;
}
.create-new-for {
  font-weight: 600;
  color: #2f6ce5;
}
.dont-have-an-container {
  position: absolute;
  top: 81px;
  left: 420px;
  font-size: 13px;
  text-align: right;
  color: #3d3d3d;
}
.sign-in1 {
  font-size: 24px;
}
.group-child77,
.search-icon1,
.sign-in1 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child77 {
  border-radius: 2px;
  background-color: #fff;
  border: 0.6px solid #d9d9db;
  box-sizing: border-box;
  width: 320px;
  height: 38px;
}
.search-icon1 {
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.sign-in-with {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 16px;
}
.group5 {
  position: absolute;
  top: 11px;
  left: 85px;
  width: 146px;
  height: 16px;
}
.rectangle-parent42 {
  position: absolute;
  top: 275px;
  left: 0;
  width: 320px;
  height: 38px;
}
.f-logo-rgb-blue-1024-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.sign-in-with-facebook-parent {
  position: absolute;
  top: 11px;
  left: 77px;
  width: 163px;
  height: 16px;
}
.group-child79,
.rectangle-parent43 {
  position: absolute;
  top: 229px;
  left: 0;
  width: 320px;
  height: 38px;
}
.group-child79 {
  top: 0;
  border-radius: 20px;
  background-color: #2f6ce5;
  height: 40px;
}
.sign-in2 {
  position: absolute;
  top: 12px;
  left: 137px;
  line-height: 16px;
  font-weight: 600;
}
.group-child80,
.rectangle-parent44 {
  position: absolute;
  top: 110px;
  left: 0;
  width: 320px;
  height: 40px;
}
.group-child80 {
  top: 0;
  border-radius: 0 0 2px 2px;
  background-color: #f7f8fa;
  border: 1px solid #d8dadb;
  box-sizing: border-box;
  height: 46px;
}
.password1 {
  position: absolute;
  top: 15px;
  left: 12px;
  line-height: 16px;
  font-weight: 500;
}
.rectangle-parent45 {
  position: absolute;
  top: 45px;
  left: 0;
  width: 320px;
  height: 46px;
}
.group-child81 {
  border-radius: 2px 2px 0 0;
  background-color: #f7f8fa;
  border: 1px solid #d8dadb;
  box-sizing: border-box;
}
.group-child81,
.group-child82,
.rectangle-parent46 {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 46px;
}
.group-child82 {
  top: 59px;
  left: 284px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.group-parent10,
.group-parent9 {
  position: absolute;
  left: 0;
  width: 320px;
}
.group-parent10 {
  top: 0;
  height: 91px;
  text-align: left;
  font-size: 15px;
  color: #8a8a8a;
}
.group-parent9 {
  top: 55px;
  height: 150px;
  text-align: center;
  color: #fff;
}
.sign-in-parent {
  position: absolute;
  top: 74px;
  left: 36px;
  width: 320px;
  height: 313px;
  text-align: left;
}
.group-child83,
.rectangle-parent41 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 736px;
  height: 457px;
}
.group-child83 {
  top: 0;
  left: 722px;
  width: 28px;
  height: 28px;
  opacity: 0.8;
}
.group-parent8 {
  position: absolute;
  top: 146px;
  left: 352px;
  width: 750px;
  height: 497px;
  text-align: center;
  font-size: 14px;
  color: #000;
  font-family: "IBM Plex Sans";
}
