.group-child63 {
  position: absolute;
  top: -0.062rem;
  left: -0.062rem;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 43.375rem;
  height: 29.625rem;
}
